html, body {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  overflow-y: scroll;
  user-select: none;
}

::-webkit-scrollbar {
  width: max(2.4vmin, 12px);
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background-color: #FA0;
  border-radius: max(1.6vmin, 8px);
  border: max(0.8vmin, 4px) solid #333;
}
